/*
 *	WORDPRESS 3.8 ADMIN THEME
 *	@version	0.2.0-alpha
 */

/* @start FORM DESIGN */
label{
	cursor: pointer;
}
input[type=text], input[type=password],
input[type=search], input[type=number],
select, textarea{
	color: #333;
	outline: none;
	border: 1px solid #d0d0d0;
	background-color: #fff;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
input, select, textarea, button{
	margin: 1px;
	padding: 3px 5px;
	font-family: inherit;
	font-size: 14px;
	font-weight: inherit;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
select{
	height: 26px;
	padding: 1px 5px;
}
textarea{
	overflow: auto;
	padding: 3px 5px !important;
	line-height: 1.4;
}
input[readonly], textarea[readonly]{
	background-color: #eee;
}
input[type=text]:disabled, input[type=password]:disabled,
input[type=search]:disabled, input[type=number]:disabled,
select:disabled, textarea:disabled{
	color: rgba(51, 51, 51, 0.5) !important;
	background: rgba(255, 255, 255, 0.5) !important;
	border-color: rgba(222, 222, 222, 0.75) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

/* SEARCH ADJUSTMENTS */
input[type="search"]{
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration{
	display: none;
}

/* CHECKBOX AND RADIO DESIGN */
input[type="checkbox"], input[type="radio"]{
	color: #555;
	clear: none;
	width: 16px;
	min-width: 16px;
	height: 16px;
	cursor: pointer;
	margin: -4px 4px 0 0;
	padding: 0 !important;
	display: inline-block;
	border: 1px solid #bbb !important;
	outline: 0;
	background: #fff;
	text-align: center;
	line-height: 0;
	vertical-align: middle;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[type="radio"]:checked + label:before{
	color: #888;
}
input[type="radio"]{
	margin-right: 4px;
	line-height: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before{
	float: left;
	width: 16px;
	display: inline-block;
	font-size: 21px;
	line-height: 1px;
	vertical-align: middle;

	/* DASHICON CODE */
	speak: none;
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="checkbox"]:checked:before{
	margin: 7px 0 0 -4px;
	content: '\f147';
}
input[type="radio"]:checked:before{
	width: 6px;
	height: 6px;
	margin: 4px;
	content: '\2022';
	text-indent: -9999px;
	font-size: 24px;
	line-height: 16px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
input[type="checkbox"]:disabled, input[type="checkbox"].disabled,
input[type="radio"]:disabled, input[type="radio"].disabled,
input[type="checkbox"]:disabled:checked:before, input[type="checkbox"].disabled:checked:before,
input[type="radio"]:disabled:checked:before, input[type="radio"].disabled:checked:before{
	opacity: 0.7;
}

/* BUTTON DESIGN */

input[type="reset"],
input[type="button"],
input[type="submit"],
button, #main .buttons a{
	cursor: pointer;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	display: inline-block;
	font-size: 13px;
	line-height: 26px;
	text-decoration: none;
	outline: none;
	border-width: 1px;
	border-style: solid;
	white-space: nowrap;
	-webkit-appearance: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type="button"], input[type="submit"], button{
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.15);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.15);
 	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.15);
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover,
input[type="button"]:focus, input[type="submit"]:focus, button:focus{
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
input[type="button"]:active, input[type="submit"]:active, button:active{
 	vertical-align: top;
 	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
 	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
 	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
input[type="button"]:disabled, input[type="submit"]:disabled,
button:disabled, button:disabled{
	cursor: default;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
input[type="reset"], p.buttons a{
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
 	vertical-align: top;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
}
input[type="reset"]:hover, input[type="reset"]:focus, p.buttons a:hover, p.buttons a:focus{
	color: #222;
	background: #fafafa;
	border-color: #999;
}
input[type="reset"]:active, p.buttons a:active{
	color: #333;
	background: #eee;
	border-color: #999;
 	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
 	-moz-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
 	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
input[type="reset"]:disabled{
	color: #aaa !important;
	cursor: default;
	border-color: #ddd !important;
	background: #f7f7f7 !important;
	text-shadow: 0 1px 0 #fff !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner{
	padding: 0;
	border: 0;
}

/* ADMIN.CSS ADJUSTMENTS */
#main .buttons{
	margin: 15px 0;
}
#main .buttons a{
	margin-left: 5px;
}
#main .buttons input{
	margin-right: 5px;
}
/* @end FORM DESIGN */