/*
 *	WORDPRESS 3.8 ADMIN THEME
 *	@version	0.2.0-alpha
 */

/* @start HEADER ELEMENTS */
#header{
	height: 32px;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 500;
}
#header #site-title{
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 505;
}
#header #site-title a{
	color: #eee;
	min-width: 160px;
	height: 32px;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	font-size: 13px;
	text-align: center;
	line-height: 32px;
	font-weight: 400;
	text-shadow: none;
	vertical-align: top;
}
#header #site-title a:before{
	margin: 0 5px 0 0;
	font-size: 20px;
	vertical-align: top;
	
	/* DASHICON CODE */
	speak: none;
	content: "\f111";
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#header #site-title a:hover{
	text-decoration: none;
}
#header #mainTabs{
	top: 0;
	left: 0;
	bottom: 0;
	width: 160px;
	height: 100%;
	min-height: 100%;
	height: auto;
	margin: 0;
	padding: 32px 0 0 0;
	position: fixed;
	z-index: 99;
}
#header #mainTabs ul{
	width: 100%;
	margin: 0;
	padding: 12px 0 0 0;
	display: block;
	list-style: none;
}
#header #mainTabs ul li{
	float: none;
	clear: both;
	width: 100%;
	min-height: 34px;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
#header #mainTabs ul li a{
	float: none;
	clear: both;
	margin: 0;
	padding: 0 2px;
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 34px;
	border: none;
	background: transparent;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}
#header #mainTabs ul li a:before{
	width: 30px;
	content: "\f111";
	margin: 0 2px 0 0;
	padding: 0 0 0 2px;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	font-family: "dashicons";
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: top;
}
#header #mainTabs ul li#snippet-plugin,
#header #mainTabs ul li#file_manager-plugin,
#header #mainTabs ul li.right{
	float: none;
	margin: 15px 0 0 0;
}
#header #mainTabs ul li.right:last-child{
	margin: 0;
}
#header #mainTabs ul li#page-plugin a:before{
	content: "\f105";
}
#header #mainTabs ul li#comment-plugin a:before{
	content: "\f101";
}
#header #mainTabs ul li#layout-plugin a:before{
	content: "\f100";
}
#header #mainTabs ul li#file_manager-plugin a:before{
	content: "\f104";
}
#header #mainTabs ul li#snippet-plugin a:before{
	content: "\f109";
}
#header #mainTabs ul li.right a:before{
	content: "\f108";
}
#header #mainTabs ul li.right:last-child a:before{
	content: "\f110";
}
#header #mainTabs ul li a.current:after{
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	content: "";
	border: 8px solid transparent;
	margin: -8px 0 0 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f1f1f1;
}
/* @end HEADER ELEMENTS */

/* @start TAB NAVIGATION */
.tabs{
	margin: 0;
	padding: 0;
	background: transparent;
}
.tabs ul.tabNavigation{
	height: 44px;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	border-bottom: 1px solid #d0d0d0;
}
.tabs ul.tabNavigation li,
.tabs ul.tabNavigation li.tab{
	float: left;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
}
.tabs ul.tabNavigation li a,
.tabs ul.tabNavigation li.tab a{
	height: 44px;
	margin: 0;
	padding: 12px 20px;
	display: block;
	font-size: 14px;
	background: transparent;
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #d0d0d0;
}
.tabs ul.tabNavigation li a.here,
.tabs ul.tabNavigation li.tab a.here{
	color: #0074A2;
	font-weight: normal;
	background-color: transparent;
	border-top: 1px solid#d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #f1f1f1;
}
.tabs .pages{
	margin: 0;
	padding: 0;
	display: block;
	background: transparent;
}
.tabs .pages .page{
	margin: 15px 0;
	padding: 0;
	background: transparent;
}
/* @end TAB NAVIGATION */

/* @start SIDEBAR ELEMENTS */
#sidebar-wrapper{
	float: none;
	width: 350px;
	min-width: 350px;
	margin: 0;
	padding: 64px 20px 20px 0;
	display: table-cell;
	border: none;
	background: none;
	vertical-align: top;
}
#sidebar .box{
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
	border: none;
	border: 1px solid #e5e5e5;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#sidebar h2{
	color: #222;
	width: 100%;
	margin: 0;
	padding: 8px 12px;
	display: block !important;
	font-size: 14px;
	line-height: 1.4em;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
#sidebar p,
#sidebar td,
#sidebar th{
	color: #444;
	margin: 0;
	padding: 10px;
	font-size: 13px;
	line-height: 1.5;
}
#sidebar .this{
	color: #aaa;
}
#sidebar .optional{
	color: #777;
}
#sidebar>p.button{
	float: none;
	width: 100%;
	height: auto;
	margin: 0 0 15px 0;
	padding: 5px;
	display: block;
	position: static;
	border: 1px solid #e5e5e5;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#sidebar>p.button a{
	color: #aaa;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block !important;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#sidebar>p.button a:before{
	width: 40px;
	height: 30px;
	margin: 0 5px 0 0;
	padding: 0;
	border-right: 1px solid #dadada;
	display: inline-block;
	font-size: 23px;
	text-align: center;
	background-image: none !important;
	vertical-align: top;
	
	/* DASHICON CODE */
	speak: none;
	content: "\f111";
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#sidebar>p.button a img{
	display: none;
}
/* @end SIDEBAR ELEMENTS */

/* @start SIDEBAR BUTTON ADJUSTMENTS */
body#body_plugin_file_manager #sidebar>p.button a:before{
	content: "\f318";
}
body#body_user_index #sidebar>p.button:first-child a:before,
body#body_layout_index #sidebar>p.button:first-child a:before,
body#body_snippet_index #sidebar>p.button:first-child a:before,
body#body_plugin_file_manager #sidebar>p.button:first-child a:before{
	content: "\f502";
}
body#body_user_index #sidebar>p.button:first-child a:hover,
body#body_layout_index #sidebar>p.button:first-child a:hover,
body#body_snippet_index #sidebar>p.button:first-child a:hover,
body#body_plugin_file_manager #sidebar>p.button:first-child a:hover{
	color: #7AD03A;
}
body#body_plugin_file_manager #sidebar>p.button:last-child a:before{
	content: "\f317";
}
/* @end SIDEBAR BUTTON ADJUSTMENTS */

/* @start FOOTER ELEMENTS */
#footer{
	width: auto;
	height: 40px;
	margin: 0 0 0 160px;
	padding: 0 30px 20px 30px;
}
#footer p:first-child,
#footer p.stats{
	color: #777;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-style: italic;
	line-height: 20px;
	vertical-align: top;
}
#footer p.stats{
	float: right;
}
#footer p:first-child a:hover,
#footer p.stats a:hover{
	text-decoration: underline;
}
#footer p:first-child:after{
	content: "Thank you for using the WordPress 3.8 AdminTheme!";
	margin: 2px 0 20px 0;
	display: block;
}
#footer #site-links{
	top: 0;
	right: 0;
	padding: 0 10px 0 0;
	position: fixed;
	z-index: 505;
}
#footer #site-links span.separator{
	display: none;
}
#footer #site-links a{
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	font-size: 13px;
	line-height: 32px;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	vertical-align: top;
}
#footer #site-links a:before{
	content: "\f310";
	margin: 0 2px 0 0;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	font-family: "dashicons";
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: top;
}
#footer #site-links a:first-child:before{
	content: "\f464";
}
#footer #site-links a:last-child:before{
	content: "\f102";
}
/* @end FOOTER ELEMENTS */

/* @start POPUP ELEMENTS */
#boxes div.window{
	top: 150px !important;
	position: fixed !important;
	z-index: 9999;
	border: 1px solid #e5e5e5;
	background: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#boxes div.window .titlebar{
	color: #343434;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	font-size: 16px;
	text-shadow: none;
}
#boxes div.window .titlebar a.close{
	display: inline-block;
}
#boxes div.window .titlebar a.close:before{
	color: #aaa;
	content: "\f153";
	display: inline-block;
	font-size: 20px;
	line-height: 20px;
	font-family: "dashicons";
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}
#boxes div.window .titlebar a.close:hover:before{
	color: #ff0000;
}
#boxes div.window .titlebar a.close img{
	display: none;
}
#boxes div.window .content{
	display: block;
}
#boxes div.window .content #upload_overwrite{
	margin: 0 0 2px 7px;
}

#popups .popup{
	top: 100px !important;
	left: 350px !important;
	max-width: 360px;
	z-index: 9999;
	position: fixed !important;
	border: 1px solid #e0e0e0;
	background: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0 1px 2px 2px #efefef;
	-moz-box-shadow: 0 1px 2px 2px #efefef;
	-webkit-box-shadow: 0 1px 2px 2px #efefef;
}
#popups .popup h3{
	font-weight: normal;
}
#popups .popup .close-link {
	display: none;
}
div.message, div.message#info, 
div.message#error, div.message#success{
	color: #fff;
	left: 160px;
	width: auto;
	max-width: auto;
	height: 32px;
	margin: 0 auto;
	padding: 0 20px;
	display: inline-block;
	position: absolute;
	z-index: 9999;
	text-align: left;
	font-size: 13px;
	line-height: 32px;
	white-space: nowrap;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
div.message a, div.message#info a, 
div.message#error a, div.message#success a{
	color: #fff;
	text-decoration: underline;
}
div.message#info{
	background-color: #2EA2CC !important;
}
div.message#success{
	background-color: #7AD03A !important;
}
div.message#error{
	background-color: #dd0000 !important;
}
/* @end POPUP ELEMENTS */