/*
 *	WORDPRESS 3.8 ADMIN THEME
 *	@version	0.2.0-alpha
 */

/* @start VIEW PAGE BUTTON */
#content>span>a#site-view-page{
	display: none !important;
}
/* @end VIEW PAGE BUTTON */

/* @start FORM CONTENT */
#page_edit_form{
	margin: 0;
	padding: 0;
	display: block;
}
.form-area{
	margin: 0;
	padding: 0;
	position: relative;
	background: transparent;
}
.form-area h3, .form-area .title label,
.form-area #pages .page p label, .form-area .content>label{
	display: none;
}
	display: none;
}
.form-area label{
	font-weight: normal;
}
.form-area #metainfo-tabs{
	display: none !important;
}
.form-area #metainfo-content{
	margin: 8px 0 0 0;
	padding: 0;
	display: block;
	background-color: transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.form-area #metainfo-content div.page{
	margin: 0;
	padding: 0;
	display: block;
}
.form-area #metainfo-content div#pagetitle{
	left: 0;
	right: 370px;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
}
.form-area #metainfo-content div#pagetitle #div-title{
	margin: 0;
	padding: 0;
}
.form-area #metainfo-content div#pagetitle #div-title input{
	padding: 3px 8px;
	font-size: 25px;
}
/* @end FORM CONTENT */

/* @start GENERAL FORM DESIGN */
.form-area #part-tabs{
	float: left;
	width: 100%;
	margin: 55px -370px -40px 0;
	padding: 0 500px 0 0;
	background: transparent;
	z-index: 100;
}
.form-area #part-tabs #tab-toolbar{
	margin: 15px 0 0 0;
	padding: 0;
	position: relative;
	z-index: 100;
}
.form-area #part-tabs #tab-toolbar a{
	text-decoration: none;
	background: transparent;
}
.form-area #part-tabs #tab-toolbar a img{
	display: none;
}
.form-area #part-tabs #tab-toolbar a:before{
	font-size: 18px;
	background-image: none !important;
	vertical-align: top;
	
	/* DASHICON CODE */
	speak: none;
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-area #part-tabs #tab-toolbar a#add-part,
.form-area #part-tabs #tab-toolbar a#delete-part{
	color: #bbb;
}
.form-area #part-tabs #tab-toolbar a#add-part:before{
	content: "\f502";
}
.form-area #part-tabs #tab-toolbar a#delete-part:before{
	content: "\f153";
}
.form-area #part-tabs #tab-toolbar a#delete-part:hover{
	color: #dd0000;
}
.form-area #part-tabs ul.tabNavigation li.tab a{
	z-index: 100;
	position: relative;
}
.form-area #part-content{
	float: left;
	width: 100%;
	margin: 15px -370px 0 0;
	padding: 0 370px 0 0;
	background: transparent;
	z-index: 100;
}
.form-area #part-content .page{
	width: 100%;
	margin: 0 370px 0 0;
	padding: 0;
}
.form-area #part-content .page .part{
	display: block;
	text-align: right;
}
.form-area #part-content .page .part label{
	display: none;
}
.form-area #part-content .page .part div textarea{
	height: 520px;
	margin: 0 0 5px 0;
	padding: 10px;
	resize: vertical;
}
.form-area .row{
	width: 100%;
	clear: both;
	display: block;
	margin: 15px -370px 0 0;
	padding: 0 370px 0 0;
	background: transparent;
	text-align: right;
}
.form-area .row p{
	float: none;
	margin: 0;
	display: block;
}
.form-area .row label{
	color: #ededed;
	margin: 0 5px 0 0;
	font-weight: normal;
}
.form-area .row label[for="page_status_id"]:after{
	color: #999;
	content: "\f173";
	padding: 0 2px 0 5px;
	font-size: 22px;
	line-height: 28px;
	background-image: none !important;
	vertical-align: top;
	
	/* DASHICON CODE */
	speak: none;
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-area .row label[for="page_comment_status"]:after{
	color: #999;
	content: "\f101";
	padding: 0 2px 0 5px;
	font-size: 22px;
	line-height: 28px;
	background-image: none !important;
	vertical-align: top;

	/* DASHICON CODE */
	speak: none;
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.form-area .row+p{
	display: none;
}
.form-area+p.buttons{
	margin: 0 !important;
}
body#body_plugin_file_manager #content-wrapper #content .form-area .content{
	margin: 0 0 15px 0;
	text-align: right;
}
body#body_plugin_file_manager #content-wrapper #content .form-area .content>label{
	display: none;
}
/* @end GENERAL FORM DESIGN */

/* @start PSEUDO SIDEBAR */
#metainfo-content div#metadata,
#metainfo-content div#settings{
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: block !important;
	position: absolute;
}
#metainfo-content div#settings{
	top: 332px;
}
form[action$="/1"] .form-area #metainfo-content div#settings{
	top: 292px;
}
#metainfo-content div#metadata #div-metadata,
#metainfo-content div#settings #div-settings{
	width: 350px;
	margin: 0;
	padding: 0;
	display: block !important;
	position: relative;
	border: 1px solid #e5e5e5;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#metainfo-content div#metadata #div-metadata:before,
#metainfo-content div#settings #div-settings:before{
	content: "Metadata";
	color: #222;
	width: 350px;
	margin: 0;
	padding: 8px 12px;
	display: block !important;
	font-size: 14px;
	line-height: 1.4em;
	font-weight: bold !important;
	border-bottom: 1px solid #eee;
}
#metainfo-content div#settings #div-settings:before{
	content: "Settings";
}
#metainfo-content div#metadata #div-metadata table,
#metainfo-content div#settings #div-settings table{
	width: 100%;
	display: block;
	padding: 10px;
	background-color: #fff;
}
#metainfo-content div#metadata #div-metadata table tbody,
#metainfo-content div#settings #div-settings table tbody{
	width: 100%;
	display: block;
}
#metainfo-content div#metadata #div-metadata table tr,
#metainfo-content div#settings #div-settings table tr{
	display: block;
	position: relative;
}
#metainfo-content div#metadata #div-metadata table tr td,
#metainfo-content div#settings #div-settings table tr td{
	width: auto;
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
	background-color: transparent;
}
#metainfo-content div#metadata #div-metadata table tr:last-child td,
#metainfo-content div#settings #div-settings table tr:last-child td{
	margin: 0;
}
#metainfo-content div#metadata #div-metadata table tr td.label,
#metainfo-content div#settings #div-settings table tr td.label{
	right: 0;
	position: absolute;
}
#metainfo-content div#metadata #div-metadata table tr td.label label,
#metainfo-content div#settings #div-settings table tr td.label label,
#metainfo-content div#settings #div-settings table tr td.field label[for="page_published_on"]{
	color: #555;
	height: 26px;
	margin: 1px 1px 0 0;
	padding: 0 7px;
	display: inline-block;
	font-weight: normal;
	line-height: 25px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
	box-shadow: -1px 0 1px 0 #eaeaea;
	-moz-box-shadow: -1px 0 1px 0 #eaeaea;
	-webkit-box-shadow: -1px 0 1px 0 #eaeaea;
}
#metainfo-content div#settings #div-settings table tr td.field label[for="page_published_on"]{
	float: right;
	margin-top: 31px;
	border-right: 1px solid #e1e1e1;
}
#metainfo-content div#settings #div-settings table tr td.label label[for="page_created_on"],
#metainfo-content div#settings #div-settings table tr td.label label[for="page_valid_until"],
#metainfo-content div#settings #div-settings table tr td.field label[for="page_published_on"]{
	border-right: 1px solid #e1e1e1;
}
#metainfo-content div#settings #div-settings table tr td.field input#page_created_on,
#metainfo-content div#settings #div-settings table tr td.field input#page_published_on,
#metainfo-content div#settings #div-settings table tr td.field input#page_valid_until{
	width: 90px;
}
#metainfo-content div#settings #div-settings table tr td.field input#page_created_on_time,
#metainfo-content div#settings #div-settings table tr td.field input#page_published_on_time,
#metainfo-content div#settings #div-settings table tr td.field input#page_valid_until_time{
	width: 75px;
}
.form-area #metainfo-content .textbox, .form-area #metainfo-content .textarea{
	font-size: 13px;
}
.form-area #metainfo-content .textarea{
	height: 100px;
	resize: none;
}
#metainfo-content div#settings #div-settings select{
	width: 100%;
}
.form-area #metainfo-content .textbox:focus,.form-area #metainfo-content .textarea:focus,
#metainfo-content div#settings #div-settings select:focus{
	z-index: 90;
	position: relative;
}
#metainfo-content div#settings #div-settings input#page_is_protected,
#metainfo-content div#settings #div-settings input#page_is_protected+label{
	margin: 10px 7px 0 0;
	display: inline-block;
	font-weight: normal;
	vertical-align: top;
}
/* @end PSEUDO SIDEBAR */

/* @start SNIPPETS AND LAYOUT DESIGN */
body#body_snippet_add #sidebar-wrapper,
body#body_snippet_edit #sidebar-wrapper,
body#body_layout_add #sidebar-wrapper,
body#body_layout_edit #sidebar-wrapper{
	display: none;
}
body#body_snippet_add #content-wrapper #content .form-area #pages .page textarea,
body#body_snippet_edit #content-wrapper #content .form-area #pages .page textarea,
body#body_layout_add #content-wrapper #content .form-area .content textarea,
body#body_layout_edit #content-wrapper #content .form-area .content textarea{
	height: 500px;
	padding: 10px;
	resize: vertical;
}
body#body_snippet_add #content-wrapper #content .form-area .textarea+p,
body#body_snippet_edit #content-wrapper #content .form-area .textarea+p,
body#body_layout_add #content-wrapper #content .form-area .content+p,
body#body_layout_edit #content-wrapper #content .form-area .content+p{
	color: #999;
	margin: 0;
	padding: 0 0 0 5px;
	display: inline-block;
}
body#body_layout_add #content-wrapper #content .form-area .content+p,
body#body_layout_edit #content-wrapper #content .form-area .content+p{
	margin: 0 0 5px 0;
	padding: 1px 0 0 5px;
}
body#body_snippet_add #content-wrapper #content .form-area+p.buttons,
body#body_snippet_edit #content-wrapper #content .form-area+p.buttons,
body#body_layout_add #content-wrapper #content .form-area+p.buttons,
body#body_layout_edit #content-wrapper #content .form-area+p.buttons{
	margin: 10px 0 0 0 !important;
}
body#body_snippet_add #content-wrapper #content .form-area #meta-pages .title input#snippet_name,
body#body_snippet_edit #content-wrapper #content .form-area #meta-pages .title input#snippet_name,
body#body_layout_add #content-wrapper #content .form-area .title input#layout_name,
body#body_layout_edit #content-wrapper #content .form-area .title input#layout_name{
	width: 100%;
	margin: 0;
	display: block;
	font-size: 25px;
}
body#body_snippet_add #content-wrapper #content .form-area #meta-pages,
body#body_snippet_edit #content-wrapper #content .form-area #meta-pages{
	margin: 0;
	padding: 0;
	display: block;
	background: transparent;
}
body#body_snippet_add #content-wrapper #content .form-area #pages,
body#body_snippet_edit #content-wrapper #content .form-area #pages{
	padding: 0;
	background: transparent;
}
body#body_snippet_add #content-wrapper #content .form-area #pages .page,
body#body_snippet_edit #content-wrapper #content .form-area #pages .page{
	padding: 0;
}
body#body_snippet_add #content-wrapper #content .form-area #pages .page p,
body#body_snippet_edit #content-wrapper #content .form-area #pages .page p{
	margin: 0 0 5px 0;
	text-align: right;
}
body#body_layout_add #content-wrapper #content .form-area table.fieldset,
body#body_layout_edit #content-wrapper #content .form-area table.fieldset{
	width: auto;
	margin: 4px 0 5px 0;
	padding: 0;
	border: none;
	float: right;
	background: transparent;
}
body#body_layout_add #content-wrapper #content .form-area table.fieldset tr td,
body#body_layout_edit #content-wrapper #content .form-area table.fieldset tr td{
	color: #999;
	width: auto;
	margin: 0;
	padding: 0;
	text-align: right;
	border: none;
	background: transparent;
}
body#body_layout_add #content-wrapper #content .form-area table.fieldset tr td:first-child,
body#body_layout_edit #content-wrapper #content .form-area table.fieldset tr td:first-child{
	padding: 0 20px 0 0;
}
body#body_layout_add #content-wrapper #content .form-area table.fieldset tr td:last-child,
body#body_layout_edit #content-wrapper #content .form-area table.fieldset tr td:last-child{
	padding-right: 0;
}
body#body_layout_add #content-wrapper #content .form-area table.fieldset tr td label,
body#body_layout_edit #content-wrapper #content .form-area table.fieldset tr td label{
	font-weight: normal;
}
body#body_layout_edit #content-wrapper #content .form-area .content,
body#body_layout_add #content-wrapper #content .form-area .content{
	margin: 0;
}
/* @end SNIPPETS AND LAYOUT DESIGN */

/* @start SETTINGS */
fieldset{
	border: none;
}
legend{
	display: none;
}
table.fieldset{
	width: auto;
	margin-top: 0;
}
table.fieldset tbody tr:before{
	display: none;
}
table.fieldset tbody tr td{
	width: auto;
	padding: 0;
	border: none;
	text-align: left;
	background: transparent;
}
table.fieldset tbody tr td[colspan="3"] h3{
	display: none;
}
table.fieldset tbody tr td.label{
	width: 200px;
	padding: 20px 10px 20px 10px;
	text-align: left;
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600;
	vertical-align: top;
}
table.fieldset tbody tr td.field{
	width: 375px;
	margin-bottom: 9px;
	padding: 15px 10px;
	line-height: 1.3;
	vertical-align: middle;
}
table.fieldset tbody tr td.field input[type=text]{
	width: 25em;
	font-size: 14px;
}
table.fieldset tbody tr td.help{
	color: #888;
	width: 400px;
	padding: 5px 15px;
	font-size: 13px;
	font-style: italic;
	line-height: 20px;
}
/* @end SETTINGS */