/*
 *	WORDPRESS 3.8 ADMIN THEME
 *	@version	0.2.0-alpha
 */

/*
 *	EXPERIMENTAL
 *	This admin theme is NOT really responsive, the code below is only a smart test!
 *	I try to create a fully responsive theme, but this must wait for the next version!
 */
 
@media screen and (max-width: 950px){
	#main{
		padding: 32px 0 0 45px;
	}
	#header #mainTabs{
		width: 45px;
	}
	#header #mainTabs ul li a{
		width: 45px;
		height: 34px;
		overflow: hidden;
		vertical-align: top;
	}
	#sidebar-wrapper{
		width: 20px;
		min-width: 50px;
	}
	#sidebar-wrapper #sidebar{
		width: 50px;
		min-width: 50px;
	}
	#sidebar-wrapper #sidebar>div.box{
		display: none;
	}
	#sidebar-wrapper #sidebar>p.button{
		display: block;
	}
	#sidebar-wrapper #sidebar>p.button>a{
		width: 40px;
		overflow: hidden;
		text-align: left;
	}
	#sidebar-wrapper #sidebar>p.button>a:before{
		width: 40px;
		border: none;
		margin: 0 0 0 -2px;
		padding: 0;
		text-align: center;
	}
	#footer{
		height: auto;
	}
	#footer p:first-child, #footer p.stats{
		float: none;
		displaY: block;
		text-align: center;
	}
}