#header{
	height: 32px;
	margin: 0;
	padding: 0;
	position: fixed;
	background: #222222;
	z-index: 500;
}
#header #site-title{
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 505;
}
#header #site-title a{
	color: #222222;
	width: 160px;
	max-width: 500px;
	height: 32px;
	display: block;
	font-size: 13px;
	line-height: 32px;
	font-weight: 400;
	text-shadow: none;
	vertical-align: top;
}
#header #site-title a:after{
	top: 0;
	left: 0;
	width: 160px;
	color: #eee;
	content: "Your WolfCMS Page";
	position: absolute;
	text-align: center;
}
#header #site-title a:hover{
	color: #333;
	background: #333333;
}
#header #site-title a:hover:before,
#header #site-title a:hover:after{
	color: #2EA2CC;
	border: none;
	text-decoration: none;
	background: #333333;
}
#header #mainTabs{
	top: 0;
	left: 0;
	bottom: 0;
	width: 160px;
	height: 100%;
	min-height: 100%;
	height: auto;
	margin: 0;
	padding: 32px 0 0 0;
	position: fixed;
	background: #222222;
	z-index: 99;
}
#header #mainTabs ul{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	display: block;
	list-style: none;
	background: #222222;
}
#header #mainTabs ul li{
	float: none;
	clear: both;
	width: 100%;
	min-height: 34px;
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	background: #222222;
}
#header #mainTabs ul li a{
	float: none;
	clear: both;
	color: #eeeeee;
	margin: 0;
	padding: 0 2px;
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 34px;
	border: none;
	background: transparent;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}
#header #mainTabs ul li a:hover{
	color: #2EA2CC;
	border: none;
	text-decoration: none;
	background: #111111;
}
#header #mainTabs ul li a:before{
	color: #999;
	width: 30px;
	content: "\f111";
	margin: 0 2px 0 0;
	padding: 0 0 0 2px;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	font-family: "dashicons";
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: top;
}
#header #mainTabs ul li#snippet-plugin,
#header #mainTabs ul li#file_manager-plugin,
#header #mainTabs ul li.right{
	margin: 15px 0 0 0;
}
#header #mainTabs ul li.right:last-child{
	margin: 0;
}
#header #mainTabs ul li#page-plugin a:before{
	content: "\f105";
}
#header #mainTabs ul li#comment-plugin a:before{
	content: "\f101";
}
#header #mainTabs ul li#layout-plugin a:before{
	content: "\f100";
}
#header #mainTabs ul li#file_manager-plugin a:before{
	content: "\f104";
}
#header #mainTabs ul li#snippet-plugin a:before{
	content: "\f109";
}
#header #mainTabs ul li.right a:before{
	content: "\f108";
}
#header #mainTabs ul li.right:last-child a:before{
	content: "\f110";
}
#header #mainTabs ul li a:hover:before{
	color: #2EA2CC;
}
#header #mainTabs ul li a.current,
#header #mainTabs ul li a.current:before{
	color: #fff;
	background-color: #0074A2;
}
#header #mainTabs ul li a.current:after{
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	content: "";
	border: 8px solid transparent;
	margin: -8px 0 0 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f1f1f1;
}