
#footer{
	width: auto;
	height: 40px;
	margin: 0 0 0 160px;
	padding: 10px 20px;
}
#footer p:first-child,
#footer p.stats{
	color: #777;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-style: italic;
	line-height: 20px;
	vertical-align: top;
}
#footer p.stats{
	float: right;
}
#footer p:first-child a,
#footer p.stats a{
	color: #0074a2;
	text-decoration: none;
}
#footer p:first-child a:hover,
#footer p.stats a:hover{
	color: #2ea2cc;
	text-decoration: underline;
}
#footer #site-links{
	top: 0;
	right: 0;
	color: #222;
	padding: 0 10px 0 0;
	position: fixed;
	z-index: 505;
}
#footer #site-links span.separator{
	display: none;
}
#footer #site-links a{
	color: #999;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	font-size: 13px;
	line-height: 32px;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	vertical-align: top;
}
#footer #site-links a:hover{
	color: #2EA2CC;
	border: none;
	text-decoration: none;
	background: #111111;
}
#footer #site-links a:before{
	content: "\f310";
	margin: 0 2px 0 0;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	font-family: "dashicons";
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: top;
}
#footer #site-links a:first-child:before{
	content: "\f464";
}
#footer #site-links a:last-child:before{
	content: "\f102";
}