/*
 |	A WordPress like AdminTheme for the Wolf
 |	@file		./css/part.plugins.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.3.0 [0.2.0] - Alpha
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */

/* @start ARCHIVE */
body#body_plugin_archive p.button:first-child a:before{
	content: "\f108";
}
/* @end ARCHIVE */

/* @start BACKUP-RESTORE */
#header #mainTabs ul li#backup_restore-plugin a:before{
	content: "\f316";
}
/* SIDEBAR BUTTONS */
body#body_plugin_backup_restore #sidebar p.button:first-child a:before{
	content: "\f331";
}
body#body_plugin_backup_restore #sidebar p.button:first-child+p.button a:before{
	content: "\f316";
	padding-top: 2px;
}
body#body_plugin_backup_restore #sidebar p.button:first-child+p.button+p.button  a:before{
	content: "\f317";
}
body#body_plugin_backup_restore #sidebar p.button:first-child+p.button+p.button+p.button  a:before{
	content: "\f108";
}
/* DOCUMENTATION PAGE */
body#body_plugin_backup_restore #content>h2{
	margin: 15px 0 0 0;
	padding: 10px;
	position: static;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}
body#body_plugin_backup_restore #content>h1+p{
	border: none;
	background: transparent;
}
body#body_plugin_backup_restore #content>p{
	margin: 0;
	padding: 10px 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
}
body#body_plugin_backup_restore #content>p+p{
	border-bottom: 1px solid #e1e1e1;
}
body#body_plugin_backup_restore #content h2+p+p+p{
	border-bottom: 1px solid #e1e1e1;
}
body#body_plugin_backup_restore #content form[action$="restore"] fieldset{
	margin: 0;
	padding: 0 !important;
	background-color: #fff;
}
body#body_plugin_backup_restore #content form[action$="restore"] fieldset legend{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px !important;
	display: block;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}
body#body_plugin_backup_restore #content form[action$="restore"] fieldset p{
	margin: 0;
	padding: 0 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
body#body_plugin_backup_restore #content form[action$="restore"] fieldset legend+p{
	padding-top: 10px;
}
body#body_plugin_backup_restore #content form[action$="restore"] fieldset p:last-child{
	color: #dd0000;
	padding: 10px 15px;
	border-bottom: 1px solid #e1e1e1;
}
/* @end BACKUP-RESTORE */
 
/* @start COMMENTS PLUGIN */
#header #mainTabs ul li#comment-plugin a:before{
	content: "\f101";
}
#header #mainTabs ul li a span#comment-badge{
	color: #fff;
	height: 18px;
	margin: 8px 0 0 5px;
    padding: 1px 0;
	display: inline-block;
	z-index: 101;
	position: absolute;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
    vertical-align: bottom;
}
#header #mainTabs ul li a span#comment-badge:before,
#header #mainTabs ul li a span#comment-badge:after{
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	content: "";
	display: inline-block;
	position: absolute;
	background-color: #ff0000;
}
#header #mainTabs ul li a span#comment-badge:before{
	left: 0;
	right: auto;
}
#comments-def{
	width: 100%;
	margin: 0 !important;
	padding: 0;
	display: table;
	position: static !important;
	border-bottom: 1px solid #e1e1e1;
}
#comments-def:before{
	color: #bbb;
	width: 50px;
	padding: 4px 0 0 0;
	display: table-cell;
	font-size: 22px;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	background-color: #fff;
	vertical-align: middle;
	speak: none;
	content: "\f101";
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#comments-def div,
#comments-def div.comment,
#comments-def div.modify{
	top: auto;
	right: auto;
	color: #333;
	width: 100px;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	display: table-cell;
	position: static;
	font-size: 14px;
	text-align: center;
	line-height: 39px;
	border-top: 1px solid #e1e1e1;
	border-left: none;
	border-right: 1px solid #e1e1e1;
	border-bottom: none;
	background-color: #fff;
}
#comments-def div:first-child{
	width: auto;
	text-align: left;
	border-left: 1px solid #e1e1e1;
}
#comments-def div.page-layout{
	width: 150px;
}
#comments-def+h3{
	color: #999;
	margin: 0;
	padding: 10px 0;
	font-style: italic;
	text-align: center;
	font-weight: normal;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
}
ol#comments{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 14px;
	list-style: none;
	font-weight: normal;
	border: none;
	border-bottom: none;
}
ol#comments li{
	color: #777;
	width: 100%;
	margin: 0;
	padding: 7px 7px 7px 57px;
	display: block;
	position: relative;
	font-style: italic;
	border-top: none;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #ffffff;
}
ol#comments li.moderate{
	border-color: #e1e1e1;
	background-color: #ffffff;
}
ol#comments li:before{
	top: 0;
	left: 0;
	bottom: 0;
	color: #bbb;
	width: 50px;
	display: inline-block;
	position: absolute;
	font-size: 22px;
	font-style: normal;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
	vertical-align: middle;
	speak: none;
	content: "\f101";
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ol#comments li strong{
	color: #333;
	font-style: normal;
}
ol#comments li p{
	color: #777;
	margin: 9px 0 2px 0;
	padding: 0;
	font-size: 12px;
	line-height: 15px;
	font-style: normal;
}
ol#comments li div.infos{
}
ol#comments li div.infos a{
	color: #fff;
	width: 22px;
	height: 22px;
	display: inline-block;
	font-size: 0px;
	font-style: normal;
	text-align: center;
	vertical-align: top;
}
ol#comments li div.infos a:before{
	color: #bbb;
	width: 22px;
	height: 22px;
	display: inline-block;
	visibility: visible;
	font-size: 18px;
	text-align: center;
	vertical-align: top;
	speak: none;
	content: "\f182";
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ol#comments li div.infos a:hover:before{
	color: #dd0000;
}
ol#comments li div.infos a:first-child:before{
	content: "\f464";
}
ol#comments li div.infos a:last-child:before{
	content: "\f147";
	font-size: 22px;
	padding-top: 1px;
}
ol#comments li div.infos a[href*="/unapprove/"]:before{
	content: "\f335";
}
ol#comments li div.infos a:last-child:hover:before{
	color: #7AD03A;
}
ol#comments li div.infos a[href*="/unapprove/"]:hover:before{
	color: #dd0000;
}
body#body_plugin_comment .pagination span.disabled{
	margin-left: 3px;
	margin-right: 3px;
}
body#body_plugin_comment .pagination span.disabled+span.current{
	margin-left: 3px;
}
/* SIDEBAR BUTTONS */
body#body_plugin_comment #sidebar p.button:first-child a:before{
	content: "\f101";
}
body#body_plugin_comment #sidebar p.button:first-child+p.button a:before{
	content: "\f117";
	padding-top: 2px;
}
body#body_plugin_comment #sidebar p.button:first-child+p.button+p.button a:before{
	content: "\f108";
}
body#body_plugin_comment #sidebar p.button:first-child+p.button+p.button+p.button a:before{
	content: "\f331";
}
/* DOCUMENTATION PAGE */
body#body_plugin_comment #content>h3{
	margin: 15px 0 0 0;
	padding: 10px;
	position: static;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
body#body_plugin_comment #content>h3:first-child{
	margin: 54px 0 0 0;
}
body#body_plugin_comment #content>h3:first-child:before{
	top: 0;
	left: 0;
	content: "Documentation";
	color: #222;
	margin: -54px 0 0 0;
	padding: 10px 15px 0 5px;
	display: inline-block;
	position: absolute;
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
}
body#body_plugin_comment #content>p{
	margin: 0;
	padding: 10px 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
}
body#body_plugin_comment #content>p:last-child,
body#body_plugin_comment #content>p:nth-child(3n+0){
	border-bottom: 1px solid #e1e1e1;
}
body#body_plugin_comment #content>ul{
	margin: 0;
	padding: 10px 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
	list-style: square;
	list-style-position: inside;
}
body#body_plugin_comment #content>pre{
	margin: 0;
	padding: 10px 15px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #f5f5f5;
}
/* @end COMMENTS PLUGIN */

/* @start FILE MANAGER */
#header #mainTabs ul li#file_manager-plugin{
	float: none;
	margin: 15px 0 0 0;
}
#header #mainTabs ul li#file_manager-plugin a:before{
	content: "\f104";
}
body#body_plugin_file_manager table.index thead tr:before,
body#body_plugin_file_manager table.index tbody tr:before,
body#body_plugin_file_manager table.index tfoot tr:before{
	content: "\f104";
}
body#body_plugin_file_manager table.index tr td img{
	display: none;
}
body#body_plugin_file_manager table.index tr td:first-child a{
	line-height: 26px;
	font-weight: bold;
	vertical-align: top;
}
body#body_plugin_file_manager table.index tr td:first-child a:before{
	color: #888;
	content: "\f318";
	margin: 0 5px 0 0;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	line-height: 26px;
	speak: none;
	font-family: "dashicons";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body#body_plugin_file_manager table.index tr td:first-child a[href*="."]:before{
	content: "\f498";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".7z"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".bz"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".bzip"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".bz2"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".bzip2"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".gz"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".gzip"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".iso"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".rar"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".tar"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".zip"]:before{
	content: "\f501";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".gif"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".ico"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".jpg"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".jpeg"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".png"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".svg"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".GIF"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".ICO"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".JPG"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".JPEG"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".PNG"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".SVG"]:before{
	content: "\f128";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".aac"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".flac"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".mp3"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".ogg"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".rm"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".wav"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".wma"]:before{
	content: "\f500";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".avi"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".flv"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".mpg"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".mkv"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".mov"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".mp4"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".rm"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".swf"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".wmv"]:before{
	content: "\f490";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".css"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href*=".htm"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href*=".html"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".js"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".ini"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".php"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href*=".xml"]:before{
	content: "\f499";
}
body#body_plugin_file_manager table.index tr td:first-child a[href$=".doc"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".docx"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".rtf"]:before,
body#body_plugin_file_manager table.index tr td:first-child a[href$=".txt"]:before{
	content: "\f491";
}
body#body_plugin_file_manager #content-wrapper #content .form-area .content{
	margin: 0 0 15px 0;
	text-align: right;
}
body#body_plugin_file_manager #content-wrapper #content .form-area .content>label{
	display: none;
}
/* SIDEBAR BUTTONS */
body#body_plugin_file_manager #sidebar>p.button a:before{
	content: "\f318";
}
body#body_plugin_file_manager #sidebar>p.button:first-child a:before{
	content: "\f502";
}
body#body_plugin_file_manager #sidebar>p.button:first-child a:hover{
	color: #7AD03A;
}
body#body_plugin_file_manager #sidebar>p.button:last-child a:before{
	content: "\f317";
}
/* @end FILE MANAGER */

/* @start MULTIPLE LANGUAGES */
/* SIDEBAR BUTTONS */
body#body_plugin_multi_lang p.button:first-child a:before{
	content: "\f108";
}
body#body_plugin_multi_lang p.button:last-child a:before{
	content: "\f331";
}
/* DOCUMENTATION PAGE */
body#body_plugin_multi_lang #content>h1+p:before{
	content: "Documentation";
	margin: -10px -15px 10px -15px;
	padding: 10px;
	display: block;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
	font-size: 1.2em;
	font-weight: bold !important;
}
body#body_plugin_multi_lang #content>p{
	margin: 0;
	padding: 10px 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
}
body#body_plugin_multi_lang #content>p:last-child{
	border-bottom: 1px solid #e1e1e1;
}
body#body_plugin_multi_lang #content>ul{
	margin: 0 !important;
	padding: 10px 15px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	background-color: #fff;
	list-style: square;
	list-style-position: inside;
}
body#body_plugin_multi_lang #content>pre{
	margin: 0;
	padding: 10px 15px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #f5f5f5;
}
/* @end MULTIPLE LANGUAGES */

/* @start WP ADMIN THEME DEMO */
#header #mainTabs ul li#wpademo-plugin a:before{
	content: "\f535";
}
/* @end WP ADMIN THEME DEMO */