/*
 *	WORDPRESS 4.1 BUTTON AND FORM DESIGN
 *	@author		WordPress
 *	@copyright	Copyright © WordPress
 */ 
/* GENERAL DESIGN */
label{
	cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select, textarea{
	color: #333 !important;
	outline: none !important;
	border: 1px solid #ddd !important;
	background-color: #fff !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus, textarea:focus{
	border-color: #5b9dd9 !important;
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8) !important;
	-moz-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8) !important;
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8) !important;
}
textarea, input, select, button{
	margin: 1px;
	padding: 3px 5px;
	font-family: inherit;
	font-size: 14px;
	font-weight: inherit;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
select{
	padding: 2px 5px;
}
textarea{
	overflow: auto;
	padding: 2px 6px;
	line-height: 1.4;
}
input.readonly, input[readonly],
textarea.readonly, textarea[readonly]{
	background-color: #eee;
}
input:disabled, input.disabled,
select:disabled, select.disabled,
textarea:disabled, textarea.disabled{
	color: rgba(51, 51, 51, 0.5);
	background: rgba(255, 255, 255, 0.5);
	border-color: rgba(222, 222, 222, 0.75);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}
input[type="file"]:disabled, input[type="file"].disabled,
input[type="range"]:disabled, input[type="range"].disabled{
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* REMOVE WEBKIT SEARCH BUTTON (or icon) */
input[type="search"]{
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration{
	display: none;
}

/* CHECKBOX AND RADIO DESIGN */
input[type="checkbox"], input[type="radio"]{
	color: #555;
	clear: none;
	width: 16px;
	min-width: 16px;
	height: 16px;
	cursor: pointer;
	margin: -4px 4px 0 0;
	padding: 0 !important;
	display: inline-block;
	border: 1px solid #bbb !important;
	outline: 0;
	background: #fff;
	text-align: center;
	line-height: 0;
	vertical-align: middle;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[type="radio"]:checked + label:before{
	color: #888;
}
input[type="radio"]{
	margin-right: 4px;
	line-height: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before{
	float: left;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	font: normal 21px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="checkbox"]:checked:before{
	color: #1e8cbe;
	margin: -3px 0 0 -4px;
	content: '\f147';
}
input[type="radio"]:checked:before{
	width: 6px;
	height: 6px;
	margin: 4px;
	content: '\2022';
	text-indent: -9999px;
	background-color: #1e8cbe;
	font-size: 24px;
	line-height: 16px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
input[type="checkbox"]:disabled, input[type="checkbox"].disabled,
input[type="radio"]:disabled, input[type="radio"].disabled,
input[type="checkbox"]:disabled:checked:before, input[type="checkbox"].disabled:checked:before,
input[type="radio"]:disabled:checked:before, input[type="radio"].disabled:checked:before{
	opacity: 0.7;
}

/* BUTTON DESIGN */
input[type="reset"],
input[type="button"],
input[type="submit"],
button, .button,
#main .buttons a{
	cursor: pointer;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	display: inline-block;
	font-size: 13px;
	line-height: 26px;
	text-decoration: none;
	outline: none;
	border-width: 1px;
	border-style: solid;
	white-space: nowrap;
	-webkit-appearance: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type="button"],
input[type="submit"],
button, .button{
 	color: #fff;
	background: #2ea2cc;
	border-color: #0074a2;
	text-decoration: none;
 	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
 	-moz-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
 	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
}
input[type="button"]:hover, input[type="button"].hover,
input[type="submit"]:hover, input[type="submit"].hover,
button:hover, button:hover, .button:hover, .button.hover,
input[type="button"]:focus, input[type="button"].focus,
input[type="submit"]:focus, input[type="submit"].focus,
button:focus, button:focus, .button:focus, .button.focus{
	color: #fff;
	background: #1e8cbe;
	border-color: #0074a2;
 	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
 	-moz-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
 	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
}
input[type="button"]:focus, input[type="button"].focus,
input[type="submit"]:focus, input[type="submit"].focus,
button:focus, button:focus, .button:focus, .button.focus{
	border-color: #0e3950;
	box-shadow:	inset 0 1px 0 rgba(120, 200, 230, 0.6),	0 0 0 1px #5b9dd9,	0 0 2px 1px rgba(30, 140, 190, 0.8);
	-moz-box-shadow:	inset 0 1px 0 rgba(120, 200, 230, 0.6),	0 0 0 1px #5b9dd9,	0 0 2px 1px rgba(30, 140, 190, 0.8);
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}
input[type="button"]:active, input[type="button"].active,
input[type="submit"]:active, input[type="submit"].active,
button:active, button:active, .button:active, .button.active{
	color: rgba(255, 255, 255, 0.95);
	background: #1b7aa6;
	border-color: #005684;
 	vertical-align: top;
 	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
 	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
 	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
input[type="button"]:disabled, input[type="button"].disabled,
input[type="submit"]:disabled, input[type="submit"].disabled,
button:disabled, button:disabled, .button:disabled, .button.disabled{
	color: #94cde7 !important;
	cursor: default;
	background: #298cba !important;
	border-color: #1b607f !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
input[type="reset"], .button.secondary, #main .buttons a{
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
 	vertical-align: top;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
}
input[type="reset"]:hover, input[type="reset"].hover, 
.button.secondary:hover, .button.secondary.hover,
#main .buttons a:hover, #main .buttons a.hover,
input[type="reset"]:focus, input[type="reset"].focus, 
.button.secondary:focus, .button.secondary.focus,
#main .buttons a:focus, #main .buttons a.focus{
	color: #222;
	background: #fafafa;
	border-color: #999;
}
input[type="reset"]:focus, input[type="reset"].focus, 
.button.secondary:focus, .button.secondary.focus,
#main .buttons a:focus, #main .buttons a.focus{
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
	-moz-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
	-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}
input[type="reset"]:active, input[type="reset"].active, 
.button.secondary:active, .button.secondary.active,
#main .buttons a:active, #main .buttons a.active{
	color: #333;
	background: #eee;
	border-color: #999;
 	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
 	-moz-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
 	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
input[type="reset"]:disabled, input[type="reset"].disabled, 
.button.secondary:disabled, .button.secondary.disabled,
#main .buttons a:disabled, #main .buttons a.disabled{
	color: #aaa !important;
	cursor: default;
	border-color: #ddd !important;
	background: #f7f7f7 !important;
	text-shadow: 0 1px 0 #fff !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner{
	padding: 0;
	border-width: 0;
	border-style: none;
}

/* ADMIN.CSS ADJUSTMENTS */
#content textarea{
	width: 100%;
	padding: 2px 6px;
	border: 1px solid #ddd;
	background-color: #fff;
}
#content textarea:focus{
	width: 100%;
	padding: 2px 6px;
	border-color: #5b9dd9;
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	-moz-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}
#main .buttons{
	margin: 15px 0;
}
#main .buttons a{
	margin-left: 5px;
}
#main .buttons input{
	margin-right: 5px;
}