/*
 |	A WordPress like AdminTheme for the Wolf
 |	@file		./css/colors/coffee.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.3.0 [0.2.0] - Alpha
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */
/*
 |	COLOR SCHEME @ codex.wordpress.org/Function_Reference/register_admin_color_schemes
 |
 |	GREY		#46403C		rgb(70, 64, 60)
 |	GREY		#59524C		rgb(89, 82, 76)
 |	WHATEVER	#C7A589		rgb(199, 165, 137)
 |	GREEN?		#9EA476		rgb(158, 164, 118)
 */

/* @start GENERAL */
a, a:visited{
	color: #59524C !important;
}
a:hover, a:active, a:visited:hover{
	color: #C7A589 !important;
}
input:focus, select:focus, textarea:focus{
	border-color: #59524C !important;
	box-shadow: 0 0 2px rgba(89, 82, 76, 0.75) !important;
	-moz-box-shadow: 0 0 2px rgba(89, 82, 76, 0.75) !important;
	-webkit-box-shadow: 0 0 2px rgba(89, 82, 76, 0.75) !important;
}
input[type="checkbox"]:checked:before{
	color: #59524C;
}
input[type="radio"]:checked:before{
	background-color: #59524C;
}
input[type="button"], input[type="submit"]{
 	color: #fff;
	background: #59524C;
	border-color: #46403C;
}
input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus{
	color: #fff;
	background: #46403C;
	border-color: #383330;
}
input[type="button"]:active, input[type="submit"]:active{
	color: rgba(255, 255, 255, 0.8);
	background: #46403C;
	border-color: #383330 !important;
}
input[type="button"]:disabled, input[type="submit"]:disabled{
	color: rgba(255, 255, 255, 0.5) !important;
	background: #59524C !important;
	border-color: #46403C !important;
}
/* @end GENERAL */

/* @start HEADER, NAV, SITE-LINKS */
#header,
#header #mainTabs,
#header #mainTabs ul,
#header #mainTabs ul li{
	background: #59524C;
}
#header #site-title a:before,
#header #mainTabs ul li a:before,
#footer #site-links a:before{
	color: #e5e5e5;
}
#header #site-title a,
#header #mainTabs ul li a,
#footer #site-links a{
	color: #fff !important;
}
#header #site-title a:hover,
#header #mainTabs ul li a:hover,
#footer #site-links a:hover{
	color: #fff !important;
	background: #46403C;
}
#header #site-title a:hover:before,
#header #mainTabs ul li a:hover:before,
#footer #site-links a:hover:before{
	color: #fff;
}
#header #mainTabs ul li a.current,
#header #mainTabs ul li a.current:before{
	color: #fff !important;
	background-color: #9EA476;
}
/* @end HEADER, NAV, SITE-LINKS */

/* @start ADJUSTMENTS */
.tabs ul.tabNavigation li a:hover,
.tabs ul.tabNavigation li.tab a:hover{
	color: #C7A589 !important;
}
.tabs ul.tabNavigation li a.here,
.tabs ul.tabNavigation li.tab a.here{
	color: #59524C !important;
}
#sidebar p.button a:hover,
.form-area #part-tabs ul.tabNavigation li.tab a:hover{
	color: #C7A589 !important;
}
index .node a:hover:before,
ul.index li.node:hover:before,
table.index tbody tr:hover:before,
div#plugins table.index tbody tr td.website a:hover:before,
ul#site-map-root>li>div.page:hover>span:before,
ul#site-map li div.content-children:hover:before,
ul#site-map-root>li>div.view-page a:hover:before,
ul#site-map li div.content-children>div.view-page a:hover:before,
ul#site-map li div.content-children>div.modify a:last-child:hover:before{
	color: #C7A589 !important;
}
/* @end ADJUSTMENTS */

/* @start PLUGINS */
ol#comments li:hover:before,
table.index#files-list tbody tr td:last-child>a:hover:first-child:before{
	color: #C7A589 !important;
}
#header #mainTabs ul li a span#comment-badge:before,
#header #mainTabs ul li a span#comment-badge:after,
#header #mainTabs ul li a span#comment-badge{
	background-color: #59524C;
}
#header #mainTabs ul li a.current span#comment-badge:before,
#header #mainTabs ul li a.current span#comment-badge:after,
#header #mainTabs ul li a.current span#comment-badge{
	background-color: #9EA476;
}
ol#comments li div.infos a:first-child:hover:before{
	color: #59524C;
}
/* @end PLUGINS */