/*
 |	A WordPress like AdminTheme for the Wolf
 |	@file		./css/colors/midnight.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.3.0 [0.2.0] - Alpha
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */
/*
 |	COLOR SCHEME @ codex.wordpress.org/Function_Reference/register_admin_color_schemes
 |
 |	BLACK		#25282B		rgb(37, 40, 43)
 |	GREY		#363B3F		rgb(54, 59, 63)
 |	BLUE		#69A8BB		rgb(105, 168, 187)
 |	RED			#E14D43		rgb(225, 77, 67)
 */

/* @start GENERAL */
a, a:visited{
	color: #69A8BB !important;
}
a:hover, a:active, a:visited:hover{
	color: #E14D43 !important;
}
input:focus, select:focus, textarea:focus{
	border-color: #69A8BB !important;
	box-shadow: 0 0 2px rgba(105, 168, 187, 0.75) !important;
	-moz-box-shadow: 0 0 2px rgba(105, 168, 187, 0.75) !important;
	-webkit-box-shadow: 0 0 2px rgba(105, 168, 187, 0.75) !important;
}
input[type="checkbox"]:checked:before{
	color: #69A8BB;
}
input[type="radio"]:checked:before{
	background-color: #69A8BB;
}
input[type="button"], input[type="submit"]{
 	color: #fff;
	background: #E14D43;
	border-color: #b43d35;
}
input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus{
	color: #fff;
	background: #b43d35;
	border-color: #9d352e;
}
input[type="button"]:active, input[type="submit"]:active{
	color: rgba(255, 255, 255, 0.8);
	background: #b43d35;
	border-color: #9d352e !important;
}
input[type="button"]:disabled, input[type="submit"]:disabled{
	color: rgba(255, 255, 255, 0.5) !important;
	background: #E14D43 !important;
	border-color: #b43d35 !important;
}
/* @end GENERAL */

/* @start HEADER, NAV, SITE-LINKS */
#header,
#header #mainTabs,
#header #mainTabs ul,
#header #mainTabs ul li{
	background: #363B3F;
}
#header #site-title a:before,
#header #mainTabs ul li a:before,
#footer #site-links a:before{
	color: #e5e5e5;
}
#header #site-title a,
#header #mainTabs ul li a,
#footer #site-links a{
	color: #fff !important;
}
#header #site-title a:hover,
#header #mainTabs ul li a:hover,
#footer #site-links a:hover{
	color: #E14D43 !important;
	background: #25282B;
}
#header #site-title a:hover:before,
#header #mainTabs ul li a:hover:before,
#footer #site-links a:hover:before{
	color: #E14D43;
}
#header #mainTabs ul li a.current,
#header #mainTabs ul li a.current:before{
	color: #fff !important;
	background-color: #E14D43;
}
/* @end HEADER, NAV, SITE-LINKS */

/* @start ADJUSTMENTS */
.tabs ul.tabNavigation li a:hover,
.tabs ul.tabNavigation li.tab a:hover{
	color: #E14D43 !important;
}
.tabs ul.tabNavigation li a.here,
.tabs ul.tabNavigation li.tab a.here{
	color: #69A8BB !important;
}
#sidebar p.button a:hover,
.form-area #part-tabs ul.tabNavigation li.tab a:hover{
	color: #E14D43 !important;
}
index .node a:hover:before,
ul.index li.node:hover:before,
table.index tbody tr:hover:before,
div#plugins table.index tbody tr td.website a:hover:before,
ul#site-map-root>li>div.page:hover>span:before,
ul#site-map li div.content-children:hover:before,
ul#site-map-root>li>div.view-page a:hover:before,
ul#site-map li div.content-children>div.view-page a:hover:before,
ul#site-map li div.content-children>div.modify a:last-child:hover:before{
	color: #E14D43 !important;
}
/* @end ADJUSTMENTS */

/* @start PLUGINS */
ol#comments li:hover:before,
table.index#files-list tbody tr td:last-child>a:hover:first-child:before{
	color: #E14D43 !important;
}
#header #mainTabs ul li a span#comment-badge:before,
#header #mainTabs ul li a span#comment-badge:after,
#header #mainTabs ul li a span#comment-badge{
	background-color: #69A8BB;
}
#header #mainTabs ul li a.current span#comment-badge:before,
#header #mainTabs ul li a.current span#comment-badge:after,
#header #mainTabs ul li a.current span#comment-badge{
	background-color: #E14D43;
}
ol#comments li div.infos a:first-child:hover:before{
	color: #69A8BB;
}
/* @end PLUGINS */