/* @start GENERAL TABLE */
#site-map-def:before{
	color: #999;
	width: 50px;
	content: "\f111";
	display: table-cell;
	font-size: 22px;
	text-align: center;
	font-family: "dashicons";
	speak: none;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: middle;
}
#site-map-def+ul.index{
	display: table;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#site-map-def+ul.index li{
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	display: table-row;
}
#site-map-def+ul.index li:before{
	color: #999;
	width: 50px;
	content: "\f111";
	display: table-cell;
	font-size: 22px;
	text-align: center;
	font-family: "dashicons";
	speak: none;
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: middle;
}
#site-map-def+ul.index li:hover:before{
	color: #2EA2CC !important;
	text-decoration: none;
}
#site-map-def+ul.index li>img[alt$="-icon"]{
	display: none;
}
#site-map-def+ul.index li>a{
	color: #0074A2;
	float: none;
	margin: 0;
	padding: 10px;
	display: table-cell;
	position: static;
	font-weight: normal;
	border-top: 1px solid #e5e5e5;
}
#site-map-def+ul.index li>a:hover{
	color: #2EA2CC !important;
	text-decoration: none;
}
#site-map-def+ul.index li>div.remove{
	top: 0;
	right: 0;
	float: none;
	width: 100px;
	margin: 0;
	padding: 0px 10px;
	display: table-cell;
	position: static;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	vertical-align: middle;
}
#site-map-def+ul.index li>div.remove a{
	top: 0;
	color: #aa0000;
	margin: 0;
	padding: 0;
	display: block;
	position: static;
	vertical-align: middle;
}
#site-map-def+ul.index li>div.remove a:hover{
	color: #ff0000;
	text-decoration: none;
}
#site-map-def+ul.index li>div.remove a:before{
	display: block;
	content: "\f153";
	font-size: 20px;
	font-family: "dashicons";
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: top;
}
#site-map-def+ul.index li>div.remove a img{
	display: none;
}
/* @end GENERAL TABLE */

/* @start TABLE DSIGN FOR FILES AND USERS */
#main #content table.index{
	width: 100%;
	margin: 0;
	position: static;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#main #content table.index thead tr th{
	margin: 0;
	padding: 10px;
	font-size: 14px;
	border-top: 1px solid #e1e1e1;
	background-color: #fff;
}
#main #content table.index thead tr:first-child:before{
	color: #999;
	width: 50px;
	content: "\f111";
	display: table-cell;
	font-size: 22px;
	text-align: center;
	font-family: "dashicons";
	speak: none;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: middle;
}
#main #content table.index thead tr th:first-child{
	border-left: 1px solid #e1e1e1;
}
#main #content table.index thead tr th.size{
	width: 150px;
}
#main #content table.index thead tr th.permissions{
	width: 200px;
}
#main #content table.index thead tr th.mtime{
	width: 200px;
}
#main #content table.index thead tr th:last-child{
	text-align: center;
	border-right: 1px solid #e1e1e1;
}
#main #content table.index tbody tr:before{
	color: #999;
	width: 50px;
	content: "\f111";
	display: table-cell;
	font-size: 22px;
	text-align: center;
	font-family: "dashicons";
	speak: none;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: middle;
}
#main #content table.index tbody tr:hover:before{
	color: #2EA2CC;
}
#main #content table.index tbody tr td{
	margin: 0;
	padding: 10px;
	font-size: 13px;
	position: static;
	border-top: 1px solid #e1e1e1;
	background-color: #fff;
}
#main #content table.index tbody tr td:first-child{
	font-size: 14px;
	vertical-align: top;
	border-left: 1px solid #e1e1e1;
}
#main #content table.index tbody tr td a{
	top: 0;
	color: #0074A2;
	position: static;
	text-decoration: none;
}
#main #content table.index tbody tr td small{
	top: 0px;
	position: static;
}
#main #content table.index tbody tr td a:hover{
	color: #2EA2CC;
	text-decoration: none;
}
#main #content table.index tbody tr td:first-child img{
	padding: 2px 0 0 0;
	display: inline-block;
}
#main #content table.index tbody tr td:last-child{
	width: 100px;
	text-align: center;
	border-right: 1px solid #e1e1e1;
}
#main #content table.index tbody tr td:last-child a{
	text-decoration: none;
}
#main #content table.index tbody tr td:last-child a:before{
	font-size: 22px;
	text-align: center;
	font-family: "dashicons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	vertical-align: middle;
}
#main #content table.index tbody tr td:last-child a[title="Rename"]{
	color: #0074A2;
}
#main #content table.index tbody tr td:last-child a[href*="/delete/"]{
	color: #aa0000;
}
#main #content table.index tbody tr td:last-child a[title="Rename"]:hover{
	color: #2EA2CC;
	text-decoration: none;
}
#main #content table.index tbody tr td:last-child a[href*="/delete/"]:hover{
	color: #ff0000;
}
#main #content table.index tbody tr td:last-child a[title="Rename"]:before{
	content: "\f464";
	font-size: 23px;
}
#main #content table.index tbody tr td:last-child a[href*="/delete/"]:before{
	content: "\f182";
}
#main #content table.index tbody tr td:last-child>img,
#main #content table.index tbody tr td:last-child a[title="Rename"] img,
#main #content table.index tbody tr td:last-child a[href*="/delete/"] img{
	display: none;
}
/* @end TABLE DSIGN FOR FILES, COMMENTS AND USERS */

/* @start ICONS */
body#body_snippet_index #site-map-def:before,
body#body_snippet_index #site-map-def+ul.index li:before{
	content: "\f109";
}
body#body_layout_index #site-map-def:before,
body#body_layout_index #site-map-def+ul.index li:before{
	content: "\f100";
}
body#body_page_index #site-map-def:before{
	content: "\f498";
}
body#body_plugin_file_manager #main #content table thead tr:first-child:before,
body#body_plugin_file_manager #main #content table tbody tr:before{
	content: "\f104";
}
body#body_user_index #main #content table thead tr:first-child:before,
body#body_user_index #main #content table tbody tr:before{
	content: "\f110";
}
/* @end ICONS */