/*
 |	A WordPress like AdminTheme for the Wolf
 |	@file		./loader.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.3.0 [0.2.0] - Alpha
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic");
@import url("css/wp.dashicons.css");


/* @start IMPORT FILES */
@import url("css/part.forms.css");
@import url("css/part.editor.css");

@import url("css/part.elements.css");
@import url("css/part.content.css");
@import url("css/part.content-form.css");

@import url("css/part.plugins.css");
/* @end IMPORT FILES */


/* @start GENERAL */
*, *:before, *:after{
	text-shadow: none !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:before, *:after{
	font-weight: normal !important;
}
html, body{
	color: #444444;
	width: 100%;
	min-width: 600px;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #f1f1f1;
}
html, body, input, button, textarea, select{
	font-family: "Open Sans", "Calibri", Arial, sans-serif !important;
}
a, a:hover, a:visited, a:active, a:visited:hover{
	text-decoration: none !important;
}
.hidden{ display: none; }
.clear{ font-size: 1px; clear: both; }
.warning{ color: #dd0000; }
.handle{ display: none; cursor: move; }
.handle_copy{ display: none; cursor: move; }
.handle_reorder{ display: none; cursor: move; }
#mask{
	display:none;
	z-index:9000;
	position:absolute;
	background-color:#000;
}
/* @end GENERAL */