/*
 *	WORDPRESS 3.8 ADMIN THEME
 *	@version	0.2.0-alpha
 */

/*
 *	COLOR SHEME
 *	https://codex.wordpress.org/Function_Reference/register_admin_color_schemes
 *
 *	VIOLET		#413256		rgb(65, 50, 86)
 *	VIOLET		#523F6D		rgb(82, 62, 109)
 *	GREEN		#A3B745		rgb(163, 183, 69)
 *	ORANGE		#D46F15		rgb(212, 111, 21)
 */

/* @start LINK COLOR */
a, a:visited,
.index .node a, .index .node a:visited,
ul.index li.node a, ul.index li.node a:visited,
table.index tbody tr td a:hover, table.index tbody tr td a:visited,
#site-map-root .page a .title, #site-map .page a .title, #site-map .node .page a:visited .title{
	color: #A3B745;
	text-decoration: none;
}
a:hover, a:active, a:visited:hover,
.index .node a:hover, .index .node a:active, .index .node a:visited:hover,
ul.index li.node a:hover, ul.index li.node a:active, ul.index li.node a:visited:hover,
table.index tbody tr td a:hover, table.index tbody tr td a:active, table.index tbody tr td a:visited:hover,
#sidebar-wrapper #sidebar>p.button a:hover, #sidebar-wrapper #sidebar>p.button a:active, #sidebar-wrapper #sidebar>p.button a:visited:hover, 
#site-map-root .node .page a:hover .title, #site-map .node .page a:hover .title, #site-map .node .page a:visited:hover .title,
#site-map-root .node .page a:active .title, #site-map .node .page a:active .title, #site-map .node .page a:active .title{
	color: #D46F15;
	text-decoration: none;
}
a:focus,
.index .node a:focus,
ul.index li.node a:focus,
table.index tbody tr td a:focus,
#sidebar-wrapper #sidebar>p.button a:focus,
#site-map-root .page a:focus .title, #site-map .page a:focus .title, #site-map .node .page a:focus .title{
	color: #D46F15;
	text-decoration: none;
}
/* @end LINK COLOR */
 
/* @start COLOR SITEMAP ICONS */
.index .node a:hover:before,
ul.index li.node:hover:before,
div#plugins table.index tbody tr td.website a:hover:before,
table.index#files-list tbody tr td:last-child>a:hover:first-child:before,
ul#site-map-root>li>div.page:hover>span:before,
ul#site-map li div.content-children:hover:before,
ul#site-map-root>li>div.view-page a:hover:before,
ul#site-map li div.content-children>div.view-page a:hover:before,
ul#site-map li div.content-children>div.modify a:last-child:hover:before,
ul#site-map-root>li>div.status.published-status,
ul#site-map li div.content-children>div.status.published-status,
.form-area #part-tabs #tab-toolbar a#add-part:hover{
	color: #A3B745;
}
/* @start COLOR SITEMAP ICONS */

/* @start FORM COLORS */
input[type=text]:focus, input[type=password]:focus,
input[type=search]:focus, input[type=number]:focus,
select:focus, textarea:focus{
	border-color: #523F6D !important;
	box-shadow: 0 0 2px rgba(82, 62, 109, 0.75) !important;
	-moz-box-shadow: 0 0 2px rgba(82, 62, 109, 0.75) !important;
	-webkit-box-shadow: 0 0 2px rgba(82, 62, 109, 0.75) !important;
}
input[type="checkbox"]:checked:before{
	color: #523F6D;
}
input[type="radio"]:checked:before{
	background-color: #523F6D;
}
input[type="button"], input[type="submit"], button{
 	color: #fff;
	background: #523F6D;
	border-color: #413256;
}
input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus,
button:hover, button:focus{
	color: #fff;
	background: #413256;
	border-color: #342844;
}
input[type="button"]:active, input[type="submit"]:active,
button:active, button:active{
	color: rgba(255, 255, 255, 0.8);
	background: #413256;
	border-color: #342844;
}
input[type="button"]:disabled, input[type="submit"]:disabled,
button:disabled, button:disabled{
	color: rgba(255, 255, 255, 0.5) !important;
	background: #523F6D !important;
	border-color: #413256 !important;
}
/* @end FORM COLORS */

/* @start HEADER ELEMENTS */
#header{
	background: #523F6D;
}
#header #site-title a{
	color: #fff;
}
#header #site-title a:before{
	color: #e5e5e5;
}
#header #site-title a:hover{
	color: #A3B745;
	background: #413256;
}
#header #site-title a:hover:before{
	color: #A3B745;
}
#header #mainTabs,
#header #mainTabs ul,
#header #mainTabs ul li{
	background: #523F6D;
}
#header #mainTabs ul li a{
	color: #fff;
}
#header #mainTabs ul li a:before{
	color: #e5e5e5;
}
#header #mainTabs ul li a:hover{
	color: #fff;
	background: #A3B745;
}
#header #mainTabs ul li a:hover:before{
	color: #fff;
}
#header #mainTabs ul li a.current,
#header #mainTabs ul li a.current:before{
	color: #fff;
	background-color: #D46F15;
}
/* @end HEADER ELEMENTS */

/* @start FOOTER ELEMENTS */
#footer #site-links{
	color: #523F6D;
}
#footer #site-links a{
	color: #fff;
}
#footer #site-links a:before{
	color: #e5e5e5;
}
#footer #site-links a:hover{
	color: #A3B745;
	background: #413256;
}
#footer #site-links a:hover:before{
	color: #A3B745;
}
/* @end FOOTER ELEMENTS */

/* @start COMMENT PLUGIN */
#header #mainTabs ul li a span#comment-badge{
	background-color: #D46F15;
}
ol#comments li div.infos a:first-child:hover:before{
	color: #A3B745;
}
/* @end COMMENT PLUGIN */