/*
 |	A WordPress like AdminTheme for the Wolf
 |	@file		./css/width/180.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.3.0 [0.3.0] - Alpha
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */
#header #site-title a{
	min-width: 180px;
}
#header #mainTabs{
	width: 180px;
}
#main{
	padding-left: 180px;
}
#footer{
	margin-left: 180px;
}
div.message, div.message#info, 
div.message#error, div.message#success{
	left: 180px;
}